.business_link {
	display: inline-block;
	cursor: pointer;
}

.business-list_link {
	cursor: pointer;
}

.business__form {
	display: inline-block;
	border: 1px solid gray;

	select {
		margin: 1rem;
	}

	button {
		margin: 1rem;
	}
}

table {
	th {
		padding: 0 0.3rem 0 0.3rem;
	}

	button {
		margin: 0 0.2rem 0 0.2rem;
	}
}

.table-index {
	background: #dddddd;
	font-weight: bold;
}

.likes__button {
	float: right;
}

.business-details__submit-rating-form {
	display: inline-block;
	border: 1px solid gray;

	input {
		width: 30rem;
	}
}
